/* _____________________________________________Universal / Common */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
}

span {
    color: red;
}

/* ______________________________________________HEADER */
header {
    height: 100vh;
    margin: 50px 110px 0px 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 80%), url("../resources/Banner\ Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.new_year_banner {
    max-width: 500px;
    margin-bottom: 80px;
}

.banner_mini_title {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner_big_title {
    color: #FFF;
    font-size: 65px;
    font-weight: 900;
}

/* ______________________________________________SECTION-DISCOUNT */

.discount {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.discount h1 {
    margin-bottom: 30px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount h5 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.discount h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.image img {
    height: 450px;
}

/* _________________________________________________SECTION WELCOME */
.welcome_section {
    padding: 0px 20px;
    height: 85vh;
    margin: 50px 110px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 80%), url("../resources/Vectorrr.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.welcome_des {
    max-width: 450px;
}

.welcome_des h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.welcome_des h4 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    font-weight: 600;
    border-radius: 6px;
    color: white;
    background-color: rgba(255, 0, 0, 0.932);
}

.welcome_image img {
    height: 400px;
}

/* _________________________________________EVENT SECTION */
.event {
    padding: 80px 110px;

}

.event_des {
    text-align: center;
    border-radius: 8px;
    padding: 100px 385px;
    background-color: rgba(255, 0, 0, 0.10);
}

.event_des h2 {
    color: #070211;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* _________________________________________________OFFER SECTION */
.offer {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    gap: 100px;
}

.left_offer_text {
    margin-left: 110px;
}

.left_offer_text h3 {
    color: #F00;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left_offer_text h1 {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.right_offer_text {
    margin-right: 110px;
}

.right_offer_text h1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.right_offer_text img {
    height: 140px;
}

.offer p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
}

.offer_image img {
    border: 15px solid red;
    height: 340px;
    border-radius: 50%;
    padding: 25px;
    margin-right: 100px;
}

/* ___________________________________________ALBUM SECTIOn */
.album {
    margin: 50px 110px;
}

.album h1 {
    color: #070211;
    font-size: 45px;
    font-weight: 900;
}

.album h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.album p {
    max-width: 700px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
}

.album h1,
h4,
p {
    margin-bottom: 15px;
}

.album_pic {
    padding-top: 30px;
    gap: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album_pic img {
    border-radius: 20px;
    height: 380px;
}

/* _______________________________________Subscribe SECTION */
.subscribe {
    padding: 50px;
    margin: 50px 110px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.13);
}

.subscribe_image img {
    height: 130px;
}

.subscribe h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.subscribe p {
    max-width: 700px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
}

.sub_input {
    display: flex;
    justify-content: center;

}

.sub_input input[type="email"] {
    border: 0;
    padding: 20px 30px;
    padding-right: 125px;
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
}

.sub_input input[type="submit"] {
    background-color: red;
    border: 0;
    padding: 20px 60px;
    padding-left: 70px;
    border-radius: 0px 50px 50px 0px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.subscribe_image,
h1,
p {
    margin-bottom: 30px;
}

/* ______________________________________________FOOTER SECTION */
footer {
    background-color: #070211;
    padding: 80px 110px;
    text-align: center;
}

footer h3,
label {
    max-width: 400px;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}

.top_info,
.bottom_info {

    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    text-align: left;
}

.top_right_info label {
    gap: 10px;
    margin-right: 90px;
    display: flex;
    align-items: center;
}

.icon {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 40px 0px;
}

.icon img {
    margin-left: 20px;
}